.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
g_healthy/docs/current
node_modules/
g_healthy/www/dashboard/
g_healthy/public/dashboard
g_healthy/public/dashboard/index.html
dashboard/.env.development
dashboard/.env.production
*dashboard.html
g_healthy/www/dashboard.html
package-lock.json
*package-lock.json
*.env.production
yarn.lock
*yarn.lock